################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TodoList/bin/Debug/net8.0
/TodoList/obj
